In [2]:
import pandas as pd
import joblib
from sklearn.preprocessing import LabelEncoder

In [3]:
model = joblib.load("loan_approval_model.pkl")
print("Model loaded successfully")

Model loaded successfully

In [4]:
test_df = pd.read_csv("test.csv")
test_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [5]:
test_df.drop("Loan_ID", axis=1, inplace=True)

In [6]:
test_df.isnull().sum()

Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [7]:
test_df["LoanAmount"].fillna(test_df["LoanAmount"].mean(), inplace=True)
test_df["Credit_History"].fillna(test_df["Credit_History"].mode()[0], inplace=True)
test_df.fillna(test_df.mode().iloc[0], inplace=True)

C:\Users\Tirupati\AppData\Local\Temp\ipykernel_13788\4207708556.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_df["LoanAmount"].fillna(test_df["LoanAmount"].mean(), inplace=True)
C:\Users\Tirupati\AppData\Local\Temp\ipykernel_13788\4207708556.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_df["Credit_History"].fillna(test_df["Credit_History"].mode()[0], inplace=True)

In [8]:
le = LabelEncoder()

for col in test_df.select_dtypes(include="object"):
    test_df[col] = le.fit_transform(test_df[col])

In [9]:
test_df = test_df[model.feature_names_in_]

In [10]:
test_predictions = model.predict(test_df)
print("Prediction completed")

Prediction completed

In [11]:
result = pd.DataFrame({
    "Loan_Status_Predicted": test_predictions
})

In [12]:
result["Loan_Status_Predicted"] = result["Loan_Status_Predicted"].map({
    1: "Approved",
    0: "Rejected"
})

In [13]:
result.to_csv("loan_test_results.csv", index=False)
print("loan_test_results.csv saved successfully")

loan_test_results.csv saved successfully